<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <img src="/assets/images/margarita.jpg" class="img" id="margarita" alt="margarita">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <h2>. M A R G A R I T A . M A K E R .</h2>
    </div>
  </div>
</div>
  <br>
<div class="container">
  <div class="row" id="main">
    <div class="col-md-6">
      <h5>Ingredients Not Yet Used:</h5>
      <br>
      <ul>
        {{#each ingredients}}
          {{#unless used}}
          {{> ingredients/ingredient-block used=true}}
          <br>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
		<div class="col-md-6">
      <h5>Ingredients Used:</h5>
      <br>
      <ul>
        {{#each ingredients}}
          {{#if used}}
            {{> ingredients/ingredient-block used=false}}
            <br>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

    <h2>Add an Ingredient</h2>
    <form class="create-form">

      <div class="form-group">
        <input type="text" id="ingredient-form" name="name">
        <br>
        <br>
        <button type="submit">Add Ingredient</button>
        <br>
      </form>
    </div>
  </div>
</div>

