<h2>Ingredients</h2>

<ul>
  {{#each ingredients}}
    <p>Ingredient: {{ingredient_name}}
      	<button class="change-used" data-id="{{id}}" data-state="{{used}}">
		{{#if used}}Use Ingredient{{else}}Add Back to Queue{{/if}}
	</button>
  {{/each}}

  </ul>

<h2>Add an Ingredient</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ingredient-form"Ingredient Name:</label>
    <input type="text" id="ingredient-form" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Ingredient</button>
</form>